<div class="product">
  <img [src]="productData.image" alt="product photo" class="product__image">
  <div class="product__description">
    <p class="product__name">{{productData.name}}</p>
    <p class="product__price">{{productData.price}} {{productData.currency}}</p>
  </div>

  <form class="product__form form" [formGroup]="counterForm">
    <div class="form__section">
      <button class="form__button form__button--remove" type="button" (click)="remove()">
        <mat-icon
          aria-hidden="false"
          aria-label="add">
          remove
        </mat-icon>
      </button>
      <input type="number" class="form__input" value="1" formControlName="counter">
      <button class="form__button form__button--add" type="button" (click)="add()">
        <mat-icon
          aria-hidden="false"
          aria-label="add">
          add
        </mat-icon>
      </button>
    </div>
  </form>

</div>
