<div class="product">
  <img src="{{product?.image}}" alt="product photo" class="product__image">
  <div class="product__description">
    <p class="product__name">
      <a class="product__link">
        {{name | titlecase}}
      </a>
    </p>
    <p class="product__price">{{price}} {{currency}}</p>
  </div>
  <div class="product__manage">
    <a
      [routerLink]="['/admin/product-manage', category, id]"
      class="edit-link">
      <mat-icon
        aria-hidden="false"
        aria-label="create icon"
        class="button-create">
        create
      </mat-icon>
    </a>
    <button
      (click)="deleteProduct(id)"
      class="delete-btn">
      <mat-icon
        aria-hidden="false"
        aria-label="delete icon"
        class="button-delete">
        delete
      </mat-icon>
    </button>
  </div>
</div>
