<section class="section">
  <div class="section__description">
    <h1 class="section__title">
      Welcome at <br>my shop!
    </h1>
    <div class="section__buttons">
      <a routerLink="/bookmark/glasses" class="button">
        Start shopping
      </a>
    </div>
  </div>

  <div class="section__illustrator">
    <img src="./assets/svg/main-page-illustrator.svg" alt="Shopping" class="illustrator">
  </div>

  <div class="section__buttons--mobile">
    <a routerLink="/bookmark/glasses" class="button">
      Start shopping
    </a>
  </div>
</section>
