<nav
  class="navigation"
  [class.navigation--disable]="!menuIsActive">

  <button
    class="hamburger"
    aria-label="Menu"
    (click)="toggleMenu()"
    [class.hamburger--active]="menuIsActive">

  <span class="hamburger__container" tabindex="-1">
    <span class="hamburger__bars"></span>
  </span>
  </button>

  <ul
    class="navigation__list"
    [class.navigation__list--disable]="!menuIsActive">

    <li class="navigation__element--icon">
      <a
        [routerLink]="['/']"
        (click)="hiddenMenu()">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          class="navigation__link--icon"
          [ngStyle]="{'color': 'rgb(0, 213, 100)' }">
          home
        </mat-icon>
      </a>
    </li>

    <li
      *ngFor="let bookmark of bookmarks"
      class="navigation__element"
      [routerLinkActive]="['navigation__element--active']"
      (click)="hiddenMenu()">
      <a
        [routerLink]="['/bookmark', bookmark.name]"
        [routerLinkActive]="['navigation__link--active']"
        class="navigation__link">
        {{  bookmark.name | titlecase }}
      </a>
    </li>

    <li
      class="navigation__element--icon"
      (mouseover)="iconIsHover=true"
      (mouseleave)="iconIsHover=false"
      (click)="hiddenMenu()">
      <a
        [routerLink]="['/basket']"
        class="navigation-desktop__link navigation-desktop__link--icon">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          class="navigation__link--icon"
          [ngStyle]="{'color': iconIsHover ? 'rgb(0, 213, 100)' : 'black' }">
          shopping_basket
        </mat-icon>
      </a>
    </li>
  </ul>
</nav>

<nav class="navigation-desktop">
  <ul class="navigation-desktop__list">

    <li class="navigation-desktop__element navigation-desktop__element--home">
      <a [routerLink]="['/']"
         class="navigation-desktop__link">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          class="navigation-desktop__link--icon"
          [ngStyle]="{'color': 'rgb(0, 213, 100)' }">
          home
        </mat-icon>
      </a>
    </li>

    <li
      *ngFor="let bookmark of bookmarks"
      class="navigation-desktop__element"
      [routerLinkActive]="['navigation-desktop__element--active']">
      <a
        [routerLink]="['/bookmark', bookmark.name]"
        [routerLinkActive]="['navigation-desktop__link--active']"
        class="navigation-desktop__link">
        {{  bookmark.name | titlecase }}
      </a>
    </li>

    <li class="navigation-desktop__element navigation-desktop__element--icon">
      <a
        [routerLink]="['/basket']"
        class="navigation-desktop__link">
        <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_basket</mat-icon>
      </a>
    </li>
  </ul>
</nav>
