<footer class="footer">
  <div class="footer__box">
    <h3 class="footer__link">
      Customer
    </h3>
    <p class="footer__link">
      <a href="#">Buyer</a>
    </p>
    <p class="footer__link">
      <a href="#">Supplier</a>
    </p>
  </div>

  <div class="footer__box">
    <h3 class="footer__title">
      Company
    </h3>
    <p class="footer__link">
      <a href="#">About us</a>
    </p>
    <p class="footer__link">
      <a href="#">Careers</a>
    </p>
    <p class="footer__link">
      <a href="#">Contact us</a>
    </p>
  </div>

  <div class="footer__box">
    <h3 class="footer__title">
      Further Information
    </h3>
    <p class="footer__link">
      <a href="#">Terms & Conditions</a>
    </p>
    <p class="footer__link">
      <a href="#">Privacy Policy</a>
    </p>
  </div>
</footer>
