<section class="section">
  <div class="section__filters">
    <filter-bar (searchText)="showSearchProducts($event)"></filter-bar>
    <filter-by-price
      (getMinPrice)="setMinProductPrice($event)"
      (getMaxPrice)="setMaxProductPrice($event)">
    </filter-by-price>
  </div>
  <h2
    *ngIf="!products || products.length <= 0"
    class="section__empty">
    No items in {{bookmark}}... <span>  :(</span>
  </h2>
  <div class="section__items">
    <bookmark-product
      *ngFor="let product of products"
      [productData]="product">
    </bookmark-product>
  </div>
</section>
