.section {
  width: 100%;
  min-height: calc(100vh - 50px);
  height: auto;
  padding-left: 20px;
  padding-top: 30px;
  box-sizing: border-box;

  &__title {
    font-size: 2.3rem;
  }
}

@media (min-width: 770px) {
  .section {
    padding-left: 50px;
  }
}
