<div class="content">
  <div class="content__image-box">
    <img src="{{product?.image}}" alt="Item's image" class="content__image">
  </div>
  <div class="content__description description">
    <h3 class="description__title">{{product?.name}}</h3>
    <p class="description__price">{{product?.price}} {{product?.currency}}</p>
    <p class="description__specification">
      {{product?.description}}
    </p>
    <form class="form" [formGroup]="counterForm">
      <div class="form__section">
        <button class="form__button form__button--remove" type="button" (click)="remove()">
          <mat-icon
            aria-hidden="false"
            aria-label="add">
            remove
          </mat-icon>
        </button>
        <input type="number" class="form__input" value="1" formControlName="counter">
        <button class="form__button form__button--add" type="button" (click)="add()">
          <mat-icon
            aria-hidden="false"
            aria-label="add">
            add
          </mat-icon>
        </button>
      </div>
      <a
        class="form__button-buy form__link"
        (click)="addToBasket()"
        routerLink="/basket">
        Buy
      </a>
    </form>
  </div>
</div>
