.section {
  width: 100%;
  min-height: 100px;
  height: auto;
  box-sizing: border-box;
  border-top: 2px solid black;

  &--empty {
    width: 100%;
    min-height: 50px;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    h1 {
      margin: 20px;
    }
  }
}
